<div class="cont h-screen grid place-items-center text-[15px]">
  <div class="flex justify-center">
    <div class="flex rounded-lg flex-col body-cont p-2 items-center">
      <div>
        <img class="w-[300px] rounded-lg" src="../assets/images/image-qr-code.png" alt="">
      </div>
      <div class="mt-5 max-w-xs text-center">
        <p class="font-[700]">Improve your front-end skills by building projects</p>
      </div>
      <div class="max-w-[250px] mt-5 text-center">
        <p class="txt font-[400]">Scan the QR code to visit Frontend Mentor and take your coding skills to the next level</p>
      </div>
    </div>
  </div>
</div>